.custom-layout-page{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #D8DFDC;
        background: #FFF;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
        &>*{
            position: relative;
            z-index: 1;
        }
        .btn-group-rounded{
            position: absolute;
            content: '';
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 0;
        }
        .h-l-item{
            padding: 10px 15px;
            display: flex;
            gap: 10px;
        }
        .h-left{
            border-right: 1px solid #E1E7F2;
            &>*+*{
                border-left: 1px solid #E1E7F2;
            }
        }
        .h-rigth{
            border-left: 1px solid #E1E7F2;
        }
        >*{
            display: flex;
            justify-content: space-between;
        }
    }
    .c-l-body{
        height: 100%;
        display: flex;
        background-color: #E9EEEC;
        padding: 0.94rem 0.94rem 0rem 0.94rem;
        .tab-container{
            max-width: 1010px;
            margin: 0 auto;
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            .t-c-head{
                display: flex;
                padding: 0rem 1.50rem;
                align-items: flex-start;
                gap: 1.1250rem;
                align-self: stretch;
                margin-bottom: -1px;
                overflow: auto;
                z-index: 1;
                &>.t-c-h-item{
                    position: relative;
                    color: rgba(48, 52, 63, 0.6);
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.00875rem;
                    display: flex;
                    padding: 0.5rem 1.25rem;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    border-radius: 0.3125rem 0.3125rem 0rem 0rem;
                    background: #D2DDE4;
                    white-space: nowrap;                
                    cursor: pointer;
                    &:not(.active){
                        .inner-shadow{
                            opacity: 0.03;
                            background: #000;
                            filter: blur(0.8px);
                            position: absolute;
                            left: -0.4625rem;
                            right: -0.4625rem;
                            bottom: 0;
                            height: 5px;
                            z-index: 1;
                        }
                    }
                    // box-shadow: 0px -3px 2px 0px rgba(0, 0, 0, 0.03) inset, 0px -4px 2px 0px rgba(0, 0, 0, 0.04) inset;
                    &::after, &::before{
                        position: absolute;
                        content: '';
                        bottom: 0;
                    }
                    &::after{
                        width: 0;
                        height: 0;
                        border-bottom: 30px solid #D2DDE4;
                        border-right: 0.5625rem solid transparent;
                        left: 100%;
                        
                    }
                    &::before{
                        width: 0;
                        height: 0;
                        border-bottom: 30px solid #D2DDE4;
                        border-left: 0.5625rem solid transparent;
                        right: 100%;
                    }
                    &.active{
                        color: #1198FB;
                        background: #fff;
                        box-shadow: none;
                        &::after, &::before{
                            border-bottom: 30px solid #fff;
                        }
                    }
                }
            }
            .t-c-body{
                border-radius: 0.3125rem 0.3125rem 0rem 0rem;
                border: 1px solid rgba(0, 0, 0, 0.10);
                background: #FFF;
                flex-grow: 1;
                position: relative;
                .t-c-b-footer{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -1px;
                    display: flex;
                    padding: 0.625rem 0.9375rem;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 0.75rem;
                    border-top: 1px solid #D8DFDC;
                    background: #2C2C38;
                    .btn{
                        display: flex;
                        padding: 0.625rem 1.25rem;
                        justify-content: center;
                        align-items: center;
                        gap: 0.3125rem;
                        border-radius: 0.3125rem;
                        font-weight: 500;
                        font-size: 0.9rem;
                    }
                    .btn-primary{
                        background: #fff;
                        color: #30343F;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 0.02rem;
                    }

                }
                .t-c-b-body{
                    overflow: auto;
                    height: calc(100vh - 171px);
                    padding-bottom: 55px;
                    &>*+*{
                        border-top: 1px solid rgba(0, 0, 0, 0.10);
                    }
                }
                .t-c-b-head{
                    display: flex;
                    padding: 0.9375rem 1.25rem 0.875rem 1.25rem;
                    align-items: flex-start;
                    align-self: stretch;
                    flex-direction: column;
                    gap: 0.62rem;
                    border-bottom: 1px solid #e5e5e5;
                    .t-c-b-h-title{
                        color: #000;
                        font-size: 1.0625rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%; /* 1.0625rem */
                        letter-spacing: 0.02125rem;
                    }
                    .t-c-b-h-sub-title{
                        color: #303030;
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 0.75rem */
                        letter-spacing: -0.0075rem;
                    }
                }
                .t-c-b-item{
                    display: flex;
                    padding: 1.25rem 1.5625rem 1.5625rem 1.5625rem;
                    align-items: flex-start;
                    gap: 1.24rem;
                    flex: 1 0 0;
                    .t-c-b-i-title{
                        color: #30343F;
                        font-size: 0.9375rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.02344rem;
                        align-self: stretch;
                        margin-bottom: -10px;
                    }
                }
            }
        }
    }
}