/* .App {
  font-family: sans-serif;
  text-align: center;
}

.flex-column {
  flex-direction: column;
}
.home {
  float: left;
  display: flex;
  width: 100%;
}

.sidebar {
  background-color: whitesmoke;
  width: 10%;
  padding: 1rem;
}

.component-list {
  background-color: white;
  display: flex;
  margin-top: 4px;
  width: 120px;
}

.component-name {}

.template {
  margin-left: 8px;
  width: 40%;
}


.template-component {
  display: flex;
  margin-top: 4px;
  padding: 14px;
  border: 1px dotted grey;
}

.img-component,
.list-component {
  flex-direction: column;
}

.add-icon {
  margin-left: auto;
  cursor: pointer;
  padding: 4px;
  background-color: whitesmoke;
}
.close-icon {
  margin: 4px;
  cursor: pointer;
  color: red;
  padding: 4px;
  background-color: whitesmoke;
}

.close-icon:hover,
.add-icon:hover {
  background-color: white;
}

.preview {
  width: 48%;
}

.preview-wrapper {
  padding: 12px;
  float: left;
}

.header {
  color: navy;
  float: left;
  width: 100%;
  text-align: left;
}

.title {
  color: green;
  float: left;
  line-break: auto;
  text-align: left;
}

.subTitle {
  color: black;
  float: left;
  line-break: auto;
  text-align: left;
  width: 100%;
}

.description {
  color: grey;
  float: left;
  text-align: left;
  font-size: 15px;
  line-height: 1.4rem;
  padding-bottom: 10px;
}
.list {
  color: gray;
  text-align: left;
  font-size: 15px;
}
.images {
  margin: auto;
  margin: 8px;
}
.images-img {
  margin: 4px;
}
.date {
  text-align: left;
  width: 100%;
}

.htmlEditor {
  text-align: left;
  width: 100%;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.flex-item {
  padding: 20px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
 */
.htmlCode {
  padding: 4px;
  background-color: gainsboro;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.8;
}
.login-main {
  padding: 24px;
  width: 320px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pd{
  padding: 4px;
}
.mr{
  margin: 6px;
}
.center {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-btn {
  padding: 8px;
    background-color: skyblue;
    width: 80%;
  margin: auto;
  border: 0;
  border-radius: 8px;
}
.flex {
  display: flex;
}
.sidebar {
  height: 100%;
  width: 300px;
}

.main {
  width: 100%;
}

.component-list {
  padding: 8px;
  margin-top: 8px;
}

.component-list-hover:hover {
  background-color: white;
  cursor: pointer;
}

.active {
  background-color: gainsboro;
}

.count-badge {
  padding: 6px;
  border-radius: 50%;
  background-color: royalblue;
  color: whitesmoke;
  margin-left: 8px;
}

.list-body {
  padding: 12px;
}

.list-header {
  padding: 8px;
  margin-top: 8px;
  color: blue;
  text-decoration: underline;
}
.chip {
  font-size: 14px;
  padding: 6px;
  background-color: turquoise;
  margin-top: auto;
  border-radius: 20%;
  color: white;
}
.btn-edit {
  height: 24px;
  font-size: 12px;
  padding: 8px;
  margin-top: 8px;
}
.email-input {
  background-color: whitesmoke;
  width: 50%;
  border: none;
  border-radius: 8px;
}